@using BestRestaurants.Models;

<h2>Cuisine Details: @ViewBag.thisCuisine.Name</h2>
<hr />

<ol>
@foreach(Restaurant restaurant in ViewBag.restaurants)
{
  <li>@restaurant.Name</li>
}
</ol>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = ViewBag.thisCuisine.CuisineId })</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = ViewBag.thisCuisine.CuisineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>